Repository Dmitrii780/ide, pull requests merged in 2024-01, with the labels that each got.

#1 Initial commit to backend_dev branch
  backend/README.md
Labels: documentation, backend

#2 Merge backend_dev into master
  backend/README.md
Labels: documentation, backend

#3 Basic git config for backend dir
  backend/.gitignore
Labels: enhancement, backend

#5 Merge backend_dev into master
  backend/.env.example
  backend/.gitignore
  backend/Dockerfile
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/handlers/handlers.go
  backend/handlers/router.go
  backend/main.go
  backend/models/languages.go
Labels: backend, ongoing

#6 Initial frontend implementation
  frontend/.gitignore
  frontend/Readme.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/CodeEditor.js
  frontend/src/LanguageSelector.css
  frontend/src/LanguageSelector.js
  frontend/src/Terminal.css
  frontend/src/Terminal.js
  frontend/src/Toolbar.css
  frontend/src/Toolbar.js
  frontend/src/index.js
  frontend/src/reportWebVitals.js
Labels: ongoing, frontend

#7 Merge fronend to master
  frontend/.gitignore
  frontend/Readme.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/CodeEditor.js
  frontend/src/LanguageSelector.css
  frontend/src/LanguageSelector.js
  frontend/src/Terminal.css
  frontend/src/Terminal.js
  frontend/src/Toolbar.css
  frontend/src/Toolbar.js
  frontend/src/index.js
  frontend/src/reportWebVitals.js
Labels: ongoing, frontend
